
body{
	/*background-image: url("stardust.png");*/
	background-color: rgba(3, 25, 38, 1);
	font-family: 'Archivo Narrow', sans-serif;
	color: white;

}

.header {
	font-size: 40pt;
}

.col-sm {
	background-color:rgba(132, 140, 142, 1);
	font-family: 'Nunito', sans-serif; 
	height: 60px;
	-webkit-transition: background-color 1s;
	transition:background-color 1s;
}
.col-sm:hover {
	background-color:rgba(67, 80, 88, 1);
	height: 60px;
}
.logo {

}
