
html, body{
    overflow-x: hidden;
    width: 100%;
	background-color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
    color: black;	
}
/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -150px 0 0 -110px;
  /* is width and height divided by two */
}

.nav-item {
    padding-left: 23px; 
    padding-right: 23px;
}
.nav-link {
    font-family: 'Major Mono Display', monospace;
    font-size: 18px;
    color: black;
    -webkit-transition: 0;
    transition: 0;
}
.nav-link:hover {
    font-family: 'Major Mono Display', monospace;
    font-size: 18px; 
    text-transform: uppercase;
    color: black;
    -webkit-transition: 0;
    transition: 0;
}

.nav-link:visited {
    color: black;
    -webkit-transition: 0;
    transition: 0;
}

.active {
    text-transform: uppercase;
}

a:link {
    color: grey;
    -webkit-transition:0.2s ease-in-out; 
    transition: 0.2s ease-in-out;
    
}

/* visited link */
a:visited {
    color: grey;
    -webkit-transition:0.2s ease-in-out; 
    transition: 0.2s ease-in-out;
}

/* mouse over link */
a:hover {
    color: lightblue;
    -webkit-transition:0.2s ease-in-out; 
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

/* selected link */
a:active {
    color: lightblue;
}

.display-3{
    font-family: 'Major Mono Display', monospace;
    font-size: 48px;
}
h1{
    font-family: 'Work Sans', monospace; 
}
.card-title{
    font-family: 'Work Sans', monospace; 
}
.card-subtitle{
    font-family: 'Work Sans', monospace; 
}
.card-text{
   font-family: 'Work Sans', monospace;  
}
.card-img{
    transition: .8s ease;
}
.card-img:hover{
    transition: .8s ease;
    opacity: 0;
}

.info-on-white{
	color: rgba(3, 25, 38, 1);	
	background-color: white;
}

.projgrid{
	-webkit-transition: background-image 0.2s ease; 
    transition: background-image 0.2s ease;
}

.edumatch{
	background-image: url("Grid-edumatch.gif");
}

.edumatch:hover{
	background-image: url("me.png");
}

.vertical-align {
	display: flex;
    align-items: center;
}

.hover-text {
    color: black;
    position: absolute;
    margin-left: 35px;
    padding-right: 35px;
    margin-top: 26px;
    text-align: left;
    height: 100%;
    width: 90%;
}

.profile-text {
    width: 341px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;  
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    line-height: normal; 
}

#portrait{
    width: 194px;
    height: 194px;
    margin: 20px;
    box-shadow: 7px 7px 0px lightblue;
}
#home {
    margin-top: -50px;
    height: 600px;
}
.section{
    height: auto;
    padding-top: 50px;
    margin: 50px;
    margin-top: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: white;
}

.grid-image:hover .overlay{
    opacity: 0.9;
}

.art-crop {
    height: 520px;
    margin: 5px;
}
.carousel-caption{
	display:none;
}

.card{
	color: Black;
}

.footer {
    background-color: #d9eaf3;
    height: 200px;
    width: 100%;
}

.description-divider{
    height: 1px;
    width: 80%;
    background-color: black;
    margin-bottom: 7px;
}
