/* Coolors Exported Palette - coolors.co/848c8e-435058-ffffff-ffd4ca-031926 */

/* HSL */
$color1: hsla(192%, 4%, 54%, 1);
$color2: hsla(203%, 14%, 30%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(11%, 100%, 90%, 1);
$color5: hsla(202%, 85%, 8%, 1);

/* RGB */
$color1: rgba(132, 140, 142, 1);
$color2: rgba(67, 80, 88, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(255, 212, 202, 1); 
$color5: rgba(3, 25, 38, 1);


/* FONTS */
weird bubbly one
font-family: 'Nunito', sans-serif; 

fat serif
font-family: 'Abril Fatface', cursive;

skinny
font-family: 'Archivo Narrow', sans-serif;

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Muli', sans-serif;